.gdabtest__head,
.gdabtest__data {
    display: flex;
}

.gdabtest__head {
    text-align: center;
    background-color: #FFFFFF;
    font-weight: bold;
    line-height: 1.2em;
}

.gdabtest__NUMBER {
    width: 2%;
}

.gdabtest__NUMBER.active {
    background: #42E73A;
}

.gdabtest__NUMBER.stop {
    background: #FF5A40;
}

.gdabtest__NUMBER.attention {
    background: #FFCB40;
}

.gdabtest__ACTIVE {
    width: 4%;
    text-align: center;
}

.gdabtest__ACTIVE input {
    width: 15px;
    height: 15px;
}

.gdabtest__NAME {
    width: 14%;
}

.gdabtest__CODE {
    width: 12%;
}

.gdabtest__PERCENT {
    width: 8%;
}

.gdabtest__YMGOAL_A {
    width: 7%;
}

.gdabtest__YMGOAL_B {
    width: 7%;
}

.gdabtest__CREATE_DATE {
    width: 6%;
}

.gdabtest__EDIT_DATE {
    width: 6%;
}

.gdabtest__STOP_DATE {
    width: 6%;
}

.gdabtest__EXECUTE_GOAL {
    width: 10%;
}

.gdabtest__LOG_WRITE {
    text-align: center;
    width: 3%;
}

.gdabtest__LOG_WRITE input {
    width: 15px;
    height: 15px;
}

.gdabtest__EDIT {
    width: 9%;
    text-align: center;
}

.gdabtest__EDIT a {
    display: inline-block;
    padding: 5px;
    border: 1px solid #787878;
    border-radius: 3px;
    background: #008080;
    text-decoration: none;
    color: #FFFFFF;
}

.gdabtest__FOLDER_LOG {
    width: 6%;
}

.gdabtest__head>div,
.gdabtest__data>div {
    padding: 3px;
    border: 1px solid #d3d3d3;
}

.gdabtest__new-test-btn {
    margin-top: 30px;
}

.gdabtest__new-test-btn a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #787878;
    border-radius: 3px;
    background: #24a319;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: 1px;
}

.gdabtest__entry {
    display: flex;
    margin-bottom: 15px;
}

.gdabtest__entry-title {
    width: 12%;
    text-align: right;
}

.gdabtest__entry-input {
    width: 20%;
    margin-left: 20px;
}

.gdabtest__btn-block {
    display: flex;
    align-items: center;
}

.gdabtest__btn-back {
    display: inline-block;
    padding: 5px;
    border: 1px solid #787878;
    border-radius: 3px;
    background: #ffd700;
    text-decoration: none;
    color: #000000;
}

.gdabtest__btn-remove {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #787878;
    border-radius: 3px;
    background: #d11507;
    text-decoration: none;
    color: #FFFFFF;
}